<h3>Add character</h3>
<hr />

<form (ngSubmit)="add()">

    <input type="text" placeholder="Name" name="name" [(ngModel)]="newCharacter.name" />
    <!-- 
            [ngModel] square brackets to assign a value
            (ngModel) parenthesis to emit the value of the event
            This means two way data binding =>
            [(ngModel)] This assigns the value and you can access to it
        -->

    <!-- [value]="newCharacter.name" 
        (input)="changeName( $event )" -->
    <input type="number" placeholder="Power" name="power" [(ngModel)]="newCharacter.power" />

    <button type="submit">Add</button>
</form>